<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="./vendor/autoload.php"
         colors="true"
         stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.x/phpunit.xsd">
    <testsuites>
        <testsuite name="tests">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="E_ALL"/>
    </php>
    <source>
        <include>
            <directory suffix=".php">./lib/Service</directory>
            <directory suffix=".php">./lib/Model</directory>
        </include>
    </source>
</phpunit>
